body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #ffffff;
}
h1, h2, h3,h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}


/*======================HEADER================*/
.name-container {
    display: flex;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-span {
    color: #2e2f42;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.contacts {
    font-style: normal;
}
.menu-contacts {
    display: flex;
    gap: 40px;
}
.text-address:hover,
.text-address:focus {
color: #404bbf;
}
.text-address {
    display: block;
    font-style: normal;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-top: 24px;
            padding-bottom: 24px;
}


    /*==========MAIN=============*/

        /*======SECTION 1===========*/
.page {
    background-color: #2e2f42;
    padding: 188px 0 188px;
}
.page-title {
    font-weight: 700;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}
.button:hover,
.button:focus {
    background-color: #404BBF
}

.button {
    display: block;
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
        margin-right: auto;
        padding: 16px 32px;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: none;
}

/*======SECTION 2===========*/
.features-list {
    margin-bottom: 60px;
    display: flex;
    gap: 24px;
}
.features-items {
width: calc((100% - 72px) / 4);
}
.headlines {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.second-titles {
    font-weight: 700;
        font-size: 36px;
    line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
/*======SECTION 3===========*/
.page-team {
    background: #f4f4fd;
}
.team-list {
    display: flex;
    gap: 24px;
}

    .box {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
}
.img-team {
    margin-bottom: 32px;
}
.workers {
    padding: 32px 0;

}
.name-worker {
    text-align: center;
    margin-bottom: 8px
}
.worker-desc {
    text-align: center;
}
/*===============SECTION 4====================*/


.potfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px   ;
}
.portfolio-list-items {
    width: calc((100% - 48px) / 3);
}
.portfolio-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.name-portfolio {
    margin-bottom: 8px;
}


/*============FOOTER============*/

.footer {
    background-color: #2e2f42;;
    padding: 100px 0
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-span-footer {
    color: #f4f4fd;
}
.text-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.section {
    padding: 120px 0 120px;
}

.container {
    max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

