body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #ffffff;
}
h1, h2, h3,h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.section {
    padding: 120px 0 120px;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/*======================HEADER================*/
.name-container {
    display: flex;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-span {
    color: #2e2f42;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
}
.nav-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.element {
    position: relative;
    color: #404bbf;
}
.element::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.contacts {
    font-style: normal;
}
.menu-contacts {
    display: flex;
    gap: 40px;
}
.text-address {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-address:hover,
.text-address:focus {
color: #404bbf;
}


    /*==========MAIN=============*/

        /*======SECTION 1===========*/
.page {
    margin-left: auto;
        margin-right: auto;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);;
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0 188px;
}
.page-title {
    font-weight: 700;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}

.button {
    display: block;
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
        margin-right: auto;
        padding: 16px 32px;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: none;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*======SECTION 2===========*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-items {
width: calc((100% - 72px) / 4);
}
.inner-icon {
    display: flex;
    width: 100%;
    height: 112px;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        justify-content: center;
            align-items: center;
            margin-bottom: 8px;
            background-color: #f4f4fd;;
      
}
.headlines {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.second-titles {
    font-weight: 700;
        font-size: 36px;
    line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
/*======SECTION 3===========*/
.page-team {
    background: #f4f4fd;
}
.team-list {
    display: flex;
    gap: 24px;
}

    .box {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.workers {
    padding: 32px 0;

}
.name-worker {
    text-align: center;
    margin-bottom: 8px
}
.worker-desc {
    text-align: center;
    margin-bottom: 8px;
}
.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-list-link {
    display: flex;
justify-content: center;
align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}
.social-list-icon {
    fill: none;
    fill: #f4f4fd
}

/*===============SECTION 4====================*/


.potfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px   ;
}
.portfolio-list-items {
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-overlay-item {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-item:hover .portfolio-overlay {
    transform: translateY(0%);
}
.portfolio-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.name-portfolio {
    margin-bottom: 8px;
}
.portfolio-overlay {
    color: #f4f4fd;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    overflow: auto;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;

}

/*============FOOTER============*/

.footer {
    background-color: #2e2f42;;
    padding: 100px 0
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-span-footer {
    color: #f4f4fd;
}
.text-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.container-flex {
    display: flex;
    align-items: baseline
}
.footer-container {
    margin-right: 120px;
}
.footer-social-media {
    margin-right: 80px;
}
.text-footer-media {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.social-list-link-footer {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        ;
        line-height: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: #31D0AA;
}
.social-list-footer {
        gap: 16px;
}
.footer-subscribe-text {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-form-subscribe {
    display: flex;
    gap: 24px;
}
.footer-subscribe-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 8px 16px;
        color: #FFFFFF;
}
.footer-subscribe-input::placeholder {
    color: #ffffff;
}
.footer-subscribe-input:focus {
    outline: none;
}
.footer-subscribe-btn {
    display: flex;
    background-color: #4d5ae5;
    border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        align-items: center;
        justify-content: center;
        width: 165px;
        height: 40px;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-weight: 500;
        cursor: pointer
}
.footer-subscribe-icon-telegram {
    margin-left: 16px;
}
/* ================MODAL====================== */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-backdrop.is-open {
    opacity: 1;
        pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    max-height: 584px;
    overflow: auto;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%)
    
}
.modal-close-btn {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    line-height: 0;
   border-radius: 50%;
top: 24px;
right: 24px;
fill: #2E2F42;

}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-slogan {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.review-form-field-wrapper {
    margin-bottom: 8px;
}
.review-form-field-label {
    display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}
.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
    outline: none;
    border-color: rgb(77, 90, 229);
}
.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-input-icon {
    fill: #4d5ae5;
}
.review-form-field-wrapper {
    margin-bottom: 16px;
}
.review-form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);;
}
.review-form-comment:focus {
    outline: none;
    border-color: #4d5ae5;
}
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.review-form-checkbox-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.review-form-checkbox:checked + .review-form-checkbox-label > .review-form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}
.review-form-checkbox:focus + .review-form-checkbox-label > .review-form-custom-checkbox {
outline: 2px solid #404BBF;
}
.review-form-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-policy-link {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.review-form-submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #4d5ae5;
        font-weight: 500;
        cursor: pointer;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
background-color: #404BBF;
}