.hidden {
    display: none;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
button {
    cursor: pointer;
}
/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}
/* ===================HEADER================== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu,
.contacts {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    display: block;
    padding: 16px 0;
}
.logo-span {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;;
}

@media screen and (min-width: 768px) {
.header-logo {
        padding: 24px 0;
        margin-right: 120px;
        }
.burger-btn {
            display: none;
        }
.nav-link {
        display: block;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
.nav-link:hover,
.nav-link:focus {
        color: #404bbf;
        }
        
.element {
         position: relative;
         color: #404bbf;
        }
.text-address {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
.text-address:hover,
.text-address:focus {
        color: #404bbf;
        }
        
.element::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        }
.menu {
        display: flex;
        align-items: center;
        gap: 40px;
        }
.contacts {
        font-style: normal;
        display: block;
        }
.menu-contacts {
        display: flex;
        gap: 12px;
        flex-direction: column;
        }
.nav {
        display: flex;
        align-items: center;
        }
}
@media screen and (min-width: 1158px) {
.header-logo {
        margin-right: 76px;
    }
.menu-contacts {
    display: flex;
    gap: 40px;
    flex-direction: row;
}
.text-address {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
}
}
/* ========MOBILE MENU=============== */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    height: 100%;
}
.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: #FCFCFC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 0;
    border-radius: 50%;
    fill: #2E2F42;
}
.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.color-accent-ocean {
color: #404bbf;
}

.mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-address {
    font-style: normal;
    margin-bottom: 40px;
}
.mobile-menu-address-link {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.color-accent-iris {
    color: #4d5ae5;
}
.mobile-menu-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.menu-social-list-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4d5ae5;
line-height: 0;
}

.menu-social-list {
    display: flex;
    gap: 40px;
justify-content: flex-start;
}

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
}
/* =================SECTION 1=============== */
.page {
margin-left: auto;
margin-right: auto;
max-width: 320px;
min-height: 432px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: #2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/dark-bg-tel.jpg');
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .page {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/dark-bg-tel@2x.jpg');
    }
}
.page-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        padding-top: 72px;
}
.button {
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    border-radius: 4px;
    margin-left: auto;
        margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
}

@media screen and (min-width: 768px) {
    .page {
        max-width: 768px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/dark-bg-tab.jpg');
    }

    .page-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        padding-top: 112px;
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/dark-bg-tab@2x.jpg');
    }
}
@media screen and (min-width: 1158px) {
    .page {
        max-width: 1440px;
        min-height: 600px;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/dark-bg-desk.jpg')
    }
    .page-title {
        margin-bottom: 48px;
        padding-top: 188px;
    }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/dark-bg-desc@2x.jpg');
    }
}

/* ======SECTION 2=============== */
.features-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
.inner-icon {
    display: none;
}
.headlines {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    margin-bottom: 8px;
}
.text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .features-items {
        width: calc((100% - 24px) / 2);
        }
    .headlines {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .inner-icon {
        display: flex;
        width: 100%;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        background-color: #f4f4fd;
    }
    .features-items {
        width: calc((100% - 72px) / 4);
    }
    .headlines {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .text {
        font-weight: 400;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
/* ======SECTION 3========= */
.section-page-team {
    background: #f4f4fd;
    padding-left: 12px;
    padding-right: 12px;
}
.team-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
.box {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.second-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.name-worker {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    margin-bottom: 8px;
}
.worker-desc {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.workers {
    padding: 32px 0;

}
.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}
.social-list-icon {
    fill: none;
    fill: #f4f4fd
}
@media screen and (min-width: 768px) {
    .section-page-team {
            padding-left: 92px;
            padding-right: 92px;
    }
    .team-list {
        flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
    }
    .box {
width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .section-page-team {
    padding-left: 0px;
        padding-right: 0px;
    }
.box {
    width: calc((100% - 72px) / 4);
}
}
/* ========SECTION 4=========== */
.portfolio-overlay {
    display: none;
}
.potfolio-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
.name-portfolio {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-box {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}
.portfolio-list-items {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.text-portfolio {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* @media screen and (min-width: 768px) {
    .img-portfolio {
            src: url(../images/banking-app-tab.jpg);
        }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
.img-portfolio {
        src: url(../images/banking-app-tab@2x.jpg);
    }
}
@media screen and (min-width: 1158px) {
    .img-portfolio {
            src: url(../images/banking-app-desc.jpg);
        }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .img-portfolio {
            src: url(../images/banking-app-desc@2x.jpg);
        }
} */
 @media screen and (min-width: 768px) {
    .potfolio-list {
        flex-direction: row;
            flex-wrap: wrap;
            column-gap: 24px;
    }
    .portfolio-list-items {
    width: calc((100% - 24px) / 2);
    }
 }
 @media screen and (min-width: 1158px) {
    .portfolio-list-items {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }
    .portfolio-list-items:hover,
    .portfolio-list-items:focus {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
             0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .potfolio-list {
        row-gap: 48px;
    }
    .portfolio-overlay-item {
        position: relative;
        overflow: hidden;
        }
    .portfolio-overlay-item:hover .portfolio-overlay {
        transform: translateY(0%);
    }
        .portfolio-overlay {
            display: flex;
            color: #f4f4fd;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #4d5ae5;
            overflow: auto;
            padding-top: 40px;
            padding-left: 32px;
            padding-right: 32px;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 40px 32px;
        }
 }
 /* ========FOOTER========== */
 .footer {
    background-color: #2e2f42;
 }
 .footer-container {
     margin-bottom: 72px;
    text-align: center;
 }
 .logo-footer {
    text-align: center;
    display: inline-block;
    margin-bottom: 16px;
 }
 .logo-span-footer {
     color: #f4f4fd;
 }
 .text-footer {
    text-align: left;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
 }
 .text-footer-media {
    text-align: center;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
 }
 .social-list-link-footer {
display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    line-height: 0;
}
.social-list-footer {
    gap: 16px;
}
.footer-social-media {
    margin-bottom: 72px;
}
.footer-subscribe-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        margin-bottom: 16px;
}
/* .footer-form-subscribe {
    display: flex;
} */
.footer-subscribe-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 288px;
        height: 40px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 8px 16px;
        color: #FFFFFF;
        margin-bottom: 16px;
        /* opacity: 0.3; */
        
}

.footer-subscribe-input:focus {
    outline: none;
}

.footer-subscribe-input::placeholder {
    color: #ffffff;
    opacity: 0.6;
}
.footer-subscribe-btn {
    display: flex;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    
}
.footer-subscribe-icon-telegram {
    margin-left: 16px;
}
 @media screen and (min-width: 768px) {
    .footer {
            padding-left: 92px;
            padding-right: 92px;
        }
        .footer-container {
            max-width: 264px;
        }
        .container-logo-social {
            display: flex;
            gap: 24px;
        }
        .text-footer-media {
        text-align: left;
        }
        .logo-footer {
        text-align: left;
        }
        .footer-container {
        text-align: left;
        }
        .footer-subscribe-text {
            text-align: left;
        }
        .footer-form-subscribe {
            display: flex;
            /* gap: 24px; */
        }
 }








